---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image" onmouseover="this.src='{{site.baseurl}}/assets/img/{% if site.author-pic-hover %}{{site.author-pic-hover}}{% endif %}'" onmouseout="this.src='{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}'">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}CatiWorks{% endif %}</h2>
          <img src="/assets/img/meet_your_artist.jpg" width="100%" height="100%"/>
          <!-- <p class="author_subtitle">Goes by: Iris. Cati. 
            Age: 29
            
            Race: Human (albeit a bit whacky)
            
            Sub race: Geeky Vampire
            
            Preferred arts: Mixed media, traditional/digital. 
            
            Likes: Making friends and meeting people with the same wacky interests as her. (Fantasy, Science Fiction, Cartoons, Manga, Anime, Comics, Gaming on pc/xbox360/ps3/ds3)
            
            Dislikes: Spiders, horror, people who are unfair and back stabby.

            Favourite Movies
            All Disney Movies. Lord of the Rings. The Hobbit. Fantasy Movies. X-men. Wolverine. Action Movies.
            Favourite TV Shows
            Criminal Minds. Charmed. Johnathan Creek. One Piece . Buffy the Vampire Slayer
            Favourite Bands / Musical Artists
            Nickelback. NightWish. Within Temptation. 30h3. Instrumental Music. Two steps from Hell
            Favourite Books
            Harry Potter. Time's Echo. Lord of the Rings. The Hobbit The magician. Crossfire Series
            Favourite Writers
            J.K. Rowling. J.R.R. Tolkien
            Favourite Games
            Kingdom of Amalur, X-men Destiny
            Favourite Gaming Platform
            Xbox 360 / PS3 / DS3 / PC
            Tools of the Trade
            Bamboo Manga Tablet, Copic Markers Ciao, Pencils, Ink'ers
            Other Interests
            ANime/manga, music, writing, fantasy stuff, graphig design ec.
            Personal Interests
drawing, gaming, anime & manga, cartoons & comics, music, shopping for art supplies and other such things.


          </p> -->
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
